#toDoForm {
    display: none;
    background-color: rgba(37, 37, 37, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
}

#toDoForm.show {
    display: flex;
}